<div class="navbar">
    <div class="top">
        <img class = "logo" src="assets/logopw.png">
        <span class = "logo_name">Physics Wallah</span>
    </div>
    <div class="menu">
        <div class="menu-item">
            <button mat-button class = "menu-button" [routerLink]="['/dashboard']">
                <span>Dashboard</span>
            </button>
        </div>
        <div class="menu-item">
            <button mat-button class = "menu-button" [routerLink]="['/management']">
                <span>Management</span>
            </button>
        </div>
        <div class="menu-item">
            <button mat-button class = "menu-button" [routerLink]="['/issues']">
                <span>Issues</span>
            </button>
        </div>
        <div class="menu-item">
            <button mat-button class = "menu-button" [routerLink]="['/verification']">
                <span>Verification</span>
            </button>
        </div> 
     </div>
</div>